<div class = "main-container">
    <div class= "header" id="header">
        <div class = "header-left">
            <a href="/admin-homepage" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
            <a href="/admin-homepage" class="header-home" id="home-link2"><h3>Home</h3></a>
        </div>
        
        <div class = "header-title">
            <div class = "header-text">
                <h3>Sangguniang Barangay ng Parang</h3>
                <h5>Marikina City</h5>
            </div>
        </div>
        <div class="header-right">
            <div class="header-user-profile">
                <span class="header-user-profile-text" id="profile-text">Admin</span>
                <img src="/images/tanod-profile.png" class="header-user-profile" id="profile-img">
            </div>
            <a href="/index"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
        </div>
    </div>
</div>
<!--New addition-->
<div class="upper-container">
    <a href="/admin-homepage" id="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black" class="size-4">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"/>
        </svg>
        Back
    </a>
</div>
<div class="content-container-tanod-home">
    <div class="box-content-top">
        <!-- missing: functions -->
        <button type="button" class="form-btn create size"><img src="/images/form-create.png"><span>Create New Record</span></button>
        <button type="button" class="form-btn resolved margin size"><img src="/images/form-check.png"><span>Mark as Resolved</span></button>
        <button type="button" class="form-btn delete margin size"><img src="/images/form-trash.png"><span>Delete Selection</span></button>
        <div class="search-name-reg margin">

            <!-- implement search function -->
            <form action="">
                <button type="submit"><img src="/images/search-reg.png"></button>
                <input type="text" placeholder="Search Name" name="search_name">
            </form>
        </div>
    </div>
    <div class="db-main-box">
        <div class="db-main-box-header">
            <div class="checkboxCol"></div>
            <div class="nameCol">Name</div>
            <div class="statusCol">Tanod Case Status</div>
            <div class="viewCol"></div>
            <div class="actionCol">Actions</div>
        </div>
        {{#each cases}}
            <div class="db-main-box-content">
                    <div class="checkboxCol-Content">
                        <button type="button" class="checkbox margin"><img src="/images/Done.png">
                    </div>

                    <div class="nameCol-Content">{{fullName RespondentInfo.FirstName RespondentInfo.MiddleInitial RespondentInfo.LastName}}</div>

                    {{#checkStatus Status}}
                        <div class="statusCol-Content">
                            <button type="button" class="status resolved"><img src="/images/resolved-circle.png"><span>Resolved</span></button>
                        </div>
                    {{else}}
                        <div class="statusCol-Content">
                            <button type="button" class="status ongoing"><img src="/images/ongoing-circle.png"><span>Ongoing</span></button>
                        </div>
                    {{/checkStatus}}

                    <div class="viewCol-Content">
                        <a href="/A-tanod-view-case/{{this._id}}" class="content-text-main underline">View Tanod Case</a>
                    </div>
                    
                    <div class="actionCol-Content">
                        <a href="admin_T-onClick-print.html"><button type="button" class="print-btn reg dark margin"><img src="/images/print-dark.png"><span>Print</span></button></a>
                    </div>
                </div>
        {{/each}}
    </div>
    <!-- to be fixed -->
    <div class="box-content-page">
        <button class="page-btn" id="count-down">  &lt</button>
        <div class="page-count" id="page-num">1</div>
        <button class="page-btn" id="count-up">  &gt </button> 
        <div class="page-number">Page 1 of 10</div>
    </div>
</div>
