<!DOCTYPE html>
<html>
    <head>
        <title>
            Barangay Parang - Admin Login Page
        </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <link rel = "stylesheet" type = "text/css" href = "../public/css/login-page.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header">
                <div class = "login-header-left">
                    <a href="../index.html" class="header-logo-link"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="../index.html" class="header-home"><h3>Home</h3></a>
                </div>
                <div class = "login-header-right">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
            </div>
            <div class = "login-panel">
                <div class = "login-panel-left">
                    <img src="../public/images/logo.png" class="login-panel-logo">
                    <h1>Barangay Certificate Verification Portal</h1>
                </div>
                <div class = "login-panel-admin">
                    <span class="login-panel-title">Administrator Log-in:</span>

                        <form action="" class = "login-form">
                            <div class="login-field">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="login-field">
                                <label for="password">Password</label>
                                <input type="password" id="pw" name="password" placeholder="Password">
                            </div>
                            <div class="login-submit">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                        <div class="login-return">
                            <a href="../index.html"><button type="button" value="return">Return</button></a>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>