<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin: Accounts DB Viewing
        </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/homepage.css">
        <script src = "../public/js/components.js" type="text/javascript"></script>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <script src = "../public/js/header.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="./admin-homepage.html" class="header-logo-link" id="home-link1"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="./admin-homepage.html" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="profile-text">Admin</span>
                        <img src="../public/images/tanod-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="../index.html"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>
        </div>
        <!-- CONTENT NOT YET UPDATED FOR ACCOUNTS DB VIEW -->
        <div class="upper-container">
            <a href="./admin-homepage.html" id="back-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black" class="size-4">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"/>
                </svg>
                Back
            </a>
        </div>
        <div class="content-container-tanod-home">
            <div class="box-content-top">
                <a href="A-lupon-create-case.html"><button type="button" class="form-btn create size"><img src="../public/images/form-create.png"><span>Create New Record</span></button></a>
                <button type="button" class="form-btn resolved margin size"><img src="../public/images/form-check.png"><span>Mark as Resolved</span></button>
                <button type="button" class="form-btn delete margin size"><img src="../public/images/form-trash.png"><span>Delete Selection</span></button>
                <div class="search-name-reg margin">
                    <form action="">
                        <button type="submit"><img src="../public/images/search-reg.png"></button>
                        <input type="text" placeholder="Search Name" name="search_name">
                    </form>
                  </div>
            </div>
            <div class="box-content">
                <div class="box-content-header">
                    <div class="content-text">Name</div>
                    <div class="content-text">Lupon Case Status</div>
                    <div class="content-text">Actions</div>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png"></button>
                    <div class="content-text-main">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="A-lupon-view-case.html" class="content-text-main underline">View Lupon Case</a>
                    <a href="admin_L-onClick-print.html"><button type="button" class="print-btn reg dark margin"><img src="../public/images/print-dark.png"><span>Print</span></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png"></button>
                    <div class="content-text-main">Juan Dela Cruz</div>
                    <button type="button" class="status ongoing margin"><img src="../public/images/ongoing-circle.png"><span>Resolved</span></button>
                    <a href="A-lupon-view-case.html" class="content-text-main underline">View Lupon Case</a>
                    <a href="admin_L-onClick-print.html"><button type="button" class="print-btn reg light margin"><img src="../public/images/print-light.png"><span>Print</span></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png"></button>
                    <div class="content-text-main">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="A-lupon-view-case.html" class="content-text-main underline">View Lupon Case</a>
                    <a href="admin_L-onClick-print.html"><button type="button" class="print-btn reg dark margin"><img src="../public/images/print-dark.png"><span>Print</span></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png"></button>
                    <div class="content-text-main">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="A-lupon-view-case.html" class="content-text-main underline">View Lupon Case</a>
                    <a href="admin_L-onClick-print.html"><button type="button" class="print-btn reg dark margin"><img src="../public/images/print-dark.png"><span>Print</span></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png"></button>
                    <div class="content-text-main">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="A-lupon-view-case.html" class="content-text-main underline">View Lupon Case</a>
                    <a href="admin_L-onClick-print.html"><button type="button" class="print-btn reg dark margin"><img src="../public/images/print-dark.png"><span>Print</span></button></a>
                </div>
            </div>
            <div class="box-content-page">
                <button class="page-btn" id="count-down">  &lt</button>
                <div class="page-count" id="page-num">1</div>
                <button class="page-btn" id="count-up">  &gt </button> 
                <div class="page-number">Page 1 of 10</div>
            </div>
        </div>
    </body>
</html>