<!DOCTYPE html>
<html>
    <head>
        <title>
            Components Reference Page
        </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <script src = "../public/js/header.js" type="text/javascript"></script>
        <script src = "../public/js/components.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="../index.html" class="header-logo-link" id="home-link1"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="../index.html" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="profile-text">Employee</span>
                        <img src="../public/images/tanod-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="../index.html"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>
            <ul class="components-list">
                <li><button type="button" class="checkbox"><img src="../public/images/Done.png"></button></li>
                <li><button type="button" class="status resolved"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button></li>
                <li><button type ="button" class="sort descending"><img src="../public/images/sort-descending.png"></button>
                <li><div class="search-name-reg">
                    <form action="">
                        <button type="submit"><img src="../public/images/search-reg.png"></button>
                        <input type="text" placeholder="Search Name" name="search_name">
                    </form>
                  </div>
                </li>
                <li><div class="search-name-lrg inactive">
                    <form action="">
                        <input type="text" placeholder="Search Name" name="search_name">
                        <button type="submit"><img src="../public/images/search-lrg.png"></button>
                    </form>
                  </div>
                </li>
                    
                <li>
                    <button type="button" class="form-action-btn" title="View Case Details"><img src="../public/images/action-view.png"></button>
                </li>
                <li>
                    <button type="button" class="form-action-btn" title="Delete Case"><img src="../public/images/action-delete.png"></button>
                </li>
                <li>
                    <button type="button" class="form-action-btn" title="Edit Case Details"><img src="../public/images/action-edit.png"></button>
                </li>
                <li>
                    <button type="button" class="form-action-btn" title="Mark as Resolved"><img src="../public/images/action-resolved.png"></button>
                </li>

                <li><button type="button" class="download-btn-reg light"><img src="../public/images/download-light.png"><span>Download</span></button></li>
                <li><button type="button" class="download-btn-reg dark"><img src="../public/images/download-dark.png"><span>Download</span></button></li>

                <li><button type="button" class="download-btn-lrg light"><img src="../public/images/download-light.png"><span>Download</span></button></li>
                <li><button type="button" class="download-btn-lrg dark"><img src="../public/images/download-dark.png"><span>Download</span></button></li>

                
            </ul>
        </div>
    </body>
</html>