<div class = "main-container">
    <div class= "header">
        <div class = "login-header-left">
            <a href="/index" class="header-logo-link"><img src="/images/logo.png" class="header-logo"></a>
            <a href="/index" class="header-home"><h3>Home</h3></a>
        </div>
        <div class = "login-header-right">
            <div class = "header-text">
                <h3>Sangguniang Barangay ng Parang</h3>
                <h5>Marikina City</h5>
            </div>
        </div>
    </div>
    <div class = "login-panel">
        <div class = "login-panel-left">
            <img src="/images/logo.png" class="login-panel-logo">
            <h1>Barangay Certificate Verification Portal</h1>
        </div>
        <div class = "login-panel-right">
            <h1>Choose Portal:</h1>
            <div class = "portal-buttons">
                <a href="/employee-login-page"><button type="button" class="portal-btn-employee">Employee</button></a>
                <a href="/admin-login-page"><button type="button" class="portal-btn-admin">Administrator</button></a>
            </div>
        </div>
    </div>
</div>
