<!DOCTYPE html>
<html>
    <head>
        <title>
            Barangay Parang - Lupon View Case Page
        </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/form.css">
        <script src = "" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="../index.html" class="header-logo-link" id="home-link1"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="../index.html" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5 id="MarikinaCity">Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="lupon-profile-text">Lupon</span>
                        <img src="../public/images/lupon-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="../index.html"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>
            <div class = "page-content-container">
                <h1 id = "lupon-case-title">Lupon Case Details</h1>
                <div class = "form-encasing-container">
                    <div class = "form-actual-container">
                        <form id="case-form">
                            <div class = "form-section" id = "basic-info">
                                <div class = "column-section">
                                    <label for="case-title" class ="bold-label">Case Title</label>
                                    <input class = "entry-number-input" id="case-title" type = "text" placeholder= "Case Title">
                                </div>
                                <div class = "column-section">
                                    <label for="case-type" class ="bold-label">Case Type</label>
                                    <input type = "text" id = "case-type" placeholder="Case Type">
                                </div>
                                <div class = "column-section">
                                    <label for="case-form" class ="bold-label">Status</label>
                                    <select name="case-form" id="status-dropdown" selected = "1">
                                        <option value="" selected disabled hidden>Select Status</option>
                                        <option value="1">Resolved</option>
                                        <option value="0">Ongoing</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class = "section-name">Respondent Information</h5>
                            <div class = "form-section" id = "respondent-info">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" id="respondent-last-name" type ="text" placeholder="Last Name">
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" id="respondent-middle-name" type = "text" placeholder="M.I." maxlength="1">
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" id="respondent-first-name" type = "text" placeholder="First Name">
                                </div>
                            </div>
                            <h5 class = "section-name">Complainer Information</h5>
                            <div class = "form-section" id = "complainer-info">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" id="complainer-last-name" type ="text" placeholder="Last Name">
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" id="complainer-middle-name" type = "text" placeholder="M.I." maxlength="1">
                                </div>
                                <div>
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" id="complainer-first-name" type = "text" placeholder="First Name">
                                </div>
                            </div>
                            <h5 class = "section-name">Mediation Information</h5>
                            <div class = "form-section" id = "mediation-info">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" id="mediation-last-name" type ="text" placeholder="Last Name">
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" id="mediation-middle-name"type = "text" placeholder="M.I." maxlength="1">
                                </div>
                                <div>
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" id="mediation-first-name" type = "text" placeholder="First Name">
                                </div>
                            </div>
                            <h5 class = "section-name">Consilation Information</h5>
                            <div class = "form-section" id = "consilation-information">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" id="consilation-last-name" type="text" placeholder="Last Name">
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" id="consilation-middle-name" type="text" placeholder="M.I." maxlength="1">
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" id="consilation-first-name" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <h5 class = "section-name">Witness Information</h5>
                            <div class = "form-section" id = "witness-information">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" id="witness-last-name" type ="text" placeholder="Last Name">
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" id="witness-middle-name" type = "text" placeholder="M.I." maxlength="1">
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" id="witness-first-name" type = "text" placeholder="First Name">
                                </div>
                            </div>
                            <h5 class ="section-name">Case</h5>
                            <div class = "form-section" id="location">
                                <div class = "input-pair">
                                    <input class = "location-input" id="case-description" type = "text" placeholder="Case Details">
                                </div>
                            </div>
                        </form>
                    </div>  
                </div>
                <div class = "buttons-container">
                    <button type="button" class="form-button" id="resolved-button" >
                        <img src="../public/images/form-check.png" id="form-check-icon">
                        <span id="">Mark as Resolved</span>
                    </button>
                    <button type="button" class ="form-button" id="edit-button">
                        <img src="../public/images/action-edit.png" id="form-edit-icon">
                        <span id="">Edit Data</span>
                    </button>
                    <button class = "form-button" id="delete-button">
                        <img src="../public/images/action-delete.png" id="form-delete-icon">
                        <span id="">Delete Case</span>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>