<!DOCTYPE html>
<html>
    <head>
        <title>
            Barangay Parang - Tanod Homepage
        </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/css/homepage.css">
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <script src = "../public/js/header.js" type="text/javascript"></script>
        <script src = "../public/js/components.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="../index.html" class="header-logo-link" id="home-link1"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="../index.html" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="profile-text">Employee</span>
                        <img src="../public/images/tanod-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="../index.html"><button type="button" class="header-logout-btn" id="logout-btn" onclick="logout()">Logout</button></a>
                </div>
            </div>
        </div>
        
        <div class="content-container-tanod-home">
            <div class="box-content-top">
                <a href="tanod-create-case.html"><button type="button" class="form-btn create size"><img src="../public/images/form-create.png"><span>Create New Record</span></button></a>
                <button type="button" class="form-btn resolved margin size"><img src="../public/images/form-check.png"><span>Mark as Resolved</span></button>
                <button type="button" class="form-btn delete margin size"><img src="../public/images/form-trash.png"><span>Delete Selection</span></button>
                <div class="search-name-reg margin">
                    <form action="">
                        <button type="submit"><img src="../public/images/search-reg.png"></button>
                        <input type="text" placeholder="Search Name" name="search_name">
                    </form>
                  </div>
            </div>
            <div class="box-content">
                <div class="box-content-header lupon-tanod">
                    <div class="content-text-group left">
                        <div class="content-text-group pair">
                            <button type ="button" class="sort descending pair"><img src="../public/images/sort-descending.png"></button>
                            <div class="content-text">Entry #</div>
                        </div>
                        <div  class="content-text-group pair last-pair">
                            <button type ="button" class="sort descending pair" ><img src="../public/images/sort-descending.png"></button>
                            <div class="content-text">Date</div>
                        </div>
                        <div class="content-text">Reportee</div>
                    </div>
                    <div class="content-text-group right">
                        <div class="content-text">Respondent</div>
                        <div class="content-text">Case Status</div>
                    </div>
                    

                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png">
                    <a href="#" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">12345678</div>
                    <div class="content-text-main date">September 4, 2024</div>
                    <div class="content-text-main reportee">Juan Dela Cruz</div>
                    <div class="content-text-main respondent">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin2"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="tanod-edit-case.html"><button type="button" class="form-action-btn margin" title="Edit Case Details"><img src="../public/images/action-edit.png"></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png">
                    <a href="#" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">12345678</div>
                    <div class="content-text-main date">September 4, 2024</div>
                    <div class="content-text-main reportee">Juan Dela Cruz</div>
                    <div class="content-text-main respondent">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin2"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="tanod-edit-case.html"><button type="button" class="form-action-btn margin" title="Edit Case Details"><img src="../public/images/action-edit.png"></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png">
                    <a href="#" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">12345678</div>
                    <div class="content-text-main date">September 4, 2024</div>
                    <div class="content-text-main reportee">Juan Dela Cruz</div>
                    <div class="content-text-main respondent">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin2"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="tanod-edit-case.html"><button type="button" class="form-action-btn margin" title="Edit Case Details"><img src="../public/images/action-edit.png"></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png">
                    <a href="#" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">12345678</div>
                    <div class="content-text-main date">September 4, 2024</div>
                    <div class="content-text-main reportee">Juan Dela Cruz</div>
                    <div class="content-text-main respondent">Juan Dela Cruz</div>
                    <button type="button" class="status ongoing margin2"><img src="../public/images/ongoing-circle.png"><span>Ongoing</span></button>
                    <a href="tanod-edit-case.html"><button type="button" class="form-action-btn margin" title="Edit Case Details"><img src="../public/images/action-edit.png"></button></a>
                </div>
                <div class="box-content-main">
                    <button type="button" class="checkbox margin"><img src="../public/images/Done.png">
                    <a href="#" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">12345678</div>
                    <div class="content-text-main date">September 4, 2024</div>
                    <div class="content-text-main reportee">Juan Dela Cruz</div>
                    <div class="content-text-main respondent">Juan Dela Cruz</div>
                    <button type="button" class="status resolved margin2"><img src="../public/images/resolved-circle.png"><span>Resolved</span></button>
                    <a href="tanod-edit-case.html"><button type="button" class="form-action-btn margin" title="Edit Case Details"><img src="../public/images/action-edit.png"></button></a>
                </div>
            </div>
            <div class="box-content-page">
                <button class="page-btn" id="count-down">  &lt</button>
                <div class="page-count" id="page-num">1</div>
                <button class="page-btn" id="count-up">  &gt </button> 
                <div class="page-number">Page 1 of 10</div>
            </div>
        </div>
    </body>
</html>