<!DOCTYPE html>
<html>
    <head>
        <title>
            Barangay Parang - Admin Tanod View - Input Cert. Details
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="../public/js/sweetalert.min.js"></script>
        <script src="../public/js/webcam.min.js"></script>
        <script src="../public/js/print.js"></script>
        
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <link rel = "stylesheet" type = "text/css" href = "../public/css/input-details-page.css">
        <link rel = "stylesheet" type = "text/css" href = "../public/css/index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="../index.html" class="header-logo-link" id="home-link1"><img src="../public/images/logo.png" class="header-logo"></a>
                    <a href="../index.html" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="profile-text">Administrator</span>
                        <img src="../public/images/admin-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="../index.html"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>

            <div class = "back-btn-container">
                <a href="employee-homepage.html">
                    <img src="../public/images/back-arrow.png" id="back-arrow-img" alt="Back">
                </a>
                <a href="employee-homepage.html"><button type="button" value="back" id="back-btn">Back</button></a>
            </div>

            <div class="sub-container">

                <div class = "text-container">
                    <div class="action-text">Please input your details below to proceed with certification printing.</div>
                </div>

                <form action="" class = "print-form">
                    <div class = "print-panel">
                        <!-- for Photo-->
                        <div class="photo-container">
                            <img src="../public/images/customer.png" class="details-profile" id="deets-profile-img">
                            <button type="button" class="image-upload-button" id="accesscamera" data-toggle="modal" data-target="#photoModal">Capture Photo</button>
                        </div>
                        
                        <!-- Modal for Webcam -->
                        <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Capture Photo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="my_camera" class="d-block mx-auto rounded overflow-hidden"></div>
                                        <div id="results" class="d-none"></div>
                                        <form method="post" id="photoForm">
                                            <input type="hidden" id="photoStore" name="photoStore" value="">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning mx-auto text-white" id="takephoto">Capture Photo</button>
                                        <button type="button" class="btn btn-warning mx-auto text-white d-none" id="retakephoto">Retake</button>
                                        <button type="button" class="btn btn-warning mx-auto text-white d-none" id="uploadphoto">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- for Name and Birthday-->
                        <div class="deets1-container">
                            <div class="name-container">
                                <div class="deets-text">Name</div>
                                <input type="text" id="name" name="name" placeholder="Juan C. Dela Cruz">
                            </div>

                            <div class="date-container">
                                <div class="deets-text">Birthday</div>
                                <input type="text" id="Birthday" class="date" name="bday-date" placeholder="MM/DD/YYYY">                             
                            </div>
                        </div>

                        <!-- for Address -->
                        <div class="deets2-container">
                            <div class="address-container">
                                <div class="deets-text">Address</div>
                                <input type="text" id="address" name="address" placeholder="">
                            </div>
                        </div>

                        <!-- for CTC Issuance Date and Location -->
                        <div class="deets3-container">
                            <div class="date-container">
                                <div class="deets-text">CTC Issuance Date</div>
                                <input type="text" id="ctc-date-issued" class="date" name="ctc-date" placeholder="MM/DD/YYYY">                             
                            </div>

                            <div class="location-container">
                                <div class="deets-text">Place of CTC Issuance<span> (City)</span></div>
                                <input type="text" id="location" name="location" placeholder="Marikina City">
                            </div>
                        </div>

                        <!-- for Cedula Number and Place of Issuance -->
                        <div class="deets4-container">
                            <div class="cedula-container">
                                <div class="deets-text">CTC Number</div>
                                <input type="text" id="cedula" name="cedula" placeholder="12345678">
                            </div>

                            <div class="date-container">
                                <div class="deets-text">Certificate Issuance Date</div>
                                <input type="text" id="cert-date-issued" class="date" name="cert-date" placeholder="MM/DD/YYYY">                             
                            </div>
                        </div>

                        <!-- for Reason For Certificate -->
                        <div class="deets5-container"> 
                            <div class="deets-text">Reason For Certificate</div>
                            <input type="text" id="reason" name="reason" placeholder="">
                        </div>

                        <div class="action-container">
                            <button type="button" class="download-btn lrg dark" onclick="downloadFileTanod()"><img src="../public/images/download-dark.png"><span>Download</span></button>
                            <button type="button" class="cancel-btn light" onclick="cancelForm()"><img src="../public/images/cancel-light.png"><span>Cancel</span></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div id="validationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modalMessage"></p>
            </div>
        </div>

        <script>
            const { jsPDF } = window.jspdf;
            
            function downloadFileTanod() {
                if (!validateForm()) {
                    return;
                }

                const form = document.querySelector('.print-form');
                const name = form.elements['name'].value;
                const birthday = formatBirthday(form.elements['bday-date'].value);
                const address = form.elements['address'].value;
                const ctcDateIssued = formatBirthday(form.elements['ctc-date'].value);
                const location = form.elements['location'].value;
                const cedula = form.elements['cedula'].value;
                const certDateIssued = formatBirthday(form.elements['cert-date'].value);
                const reason = form.elements['reason'].value.toUpperCase();
                const profileImg = document.getElementById('deets-profile-img').src;
        
                const doc = new jsPDF({
                    orientation: 'portrait',
                    unit: 'mm',
                    format: [215.9, 279.4]  // width, height


                });

                doc.setFont('Times', 'bold'); 
        
                // Title and Header
                
                const logoWidth = 100;
                const logolength = 30;
                doc.addImage('../public/images/logo-cert.png', 'PNG', 57, 10, logoWidth, logolength);

                doc.setFontSize(12);
                doc.text('Republic of the Philippines',     105, 45, null, null, 'center');
                doc.text('City of Marikina',                105, 50, null, null, 'center');
                doc.setFontSize(14);
                doc.text('BARANGAY PARANG',                 105, 56, null, null, 'center');
                doc.setFontSize(16);
                doc.text('OFFICE OF THE PUNONG BARANGAY',   105, 66, null, null, 'center');
                doc.setFontSize(20);

                doc.text('C E R T I F I C A T I O N',       105, 76, null, null, 'center');
                var textWidth = doc.getTextWidth('C E R T I F I C A T I O N');
                doc.setLineWidth(0.5);
                doc.line(105 - textWidth / 2, 77, 105 + textWidth / 2, 77);
        
                // Body Text

                const imgWidth = 30;
                const imgHeight = 30;
                doc.addImage(profileImg, 'JPEG', 170, 85, imgWidth, imgHeight);

                doc.addImage('../public/images/sign-box-cert.png', 'PNG', 168, 118, 35, 35);

                doc.setFont("Times", "normal");
                doc.setFontSize(14);
                doc.text('To whom it may concern;',             20, 90);
                doc.text(`This is to certify the fact that`,    20, 102);

                // NAME BOLD
                doc.setFont("Times", "bold");
                doc.text(`${name}`,                             79, 102);
                textWidth = doc.getTextWidth(`${name}`);
                doc.setLineWidth(0.5);
                doc.line(79, 103, 79 + textWidth, 103);
                doc.setFont("Times", "normal");

                doc.text(`born on the ${birthday} at (missing). whose picture`,                20, 108);
                doc.text(`and signature appears, is a bonafide resident of Barangay Parang,`,  20, 114);
                doc.text(`currently residing at`,                                              20, 120);

                // ADDRESS BOLD
                doc.setFont("Times", "bold");
                doc.text(`${address}.`, 61, 120);
                textWidth = doc.getTextWidth(`${address}`);
                doc.setLineWidth(0.5);
                doc.line(61, 121, 61 + textWidth, 121);
                doc.setFont("Times", "normal");

                doc.text(`and that he/she exhibited to me his/her Community Tax`,   20, 126);
                doc.text(`Certificate No. `,                                        20, 132);

                // CEDULA NO. BOLD
                doc.setFont("Times", "bold");
                doc.text(`${cedula}`, 50, 132);
                textWidth = doc.getTextWidth(`${cedula}`);
                doc.setLineWidth(0.5);
                doc.line(50, 133, 50 + textWidth, 133);
                doc.setFont("Times", "normal");

                doc.text(`issued at`, 71, 132);

                // CEDULA NO. BOLD
                doc.setFont("Times", "bold");
                doc.text(`${location}`, 89, 132);
                textWidth = doc.getTextWidth(`${location}`);
                doc.setLineWidth(0.5);
                doc.line(89, 133, 89 + textWidth, 133);
                doc.setFont("Times", "normal");

                doc.text(`on the`, 120, 132);

                //
                doc.setFont("Times", "bold");
                doc.text(`${ctcDateIssued}.`, 20, 138);
                textWidth = doc.getTextWidth(`${ctcDateIssued}`);
                doc.setLineWidth(0.5);
                doc.line(20, 139, 20 + textWidth, 139);
                doc.setFont("Times", "normal");


                doc.text(`This certification is hereby issued to the above mentioned individual`, 20, 155);
                doc.text(`for the fulfillment of `, 20, 161);

                //
                doc.setFont("Times", "bold");
                doc.text(`${reason}.`, 63, 161);
                textWidth = doc.getTextWidth(`${reason}`);
                doc.setLineWidth(0.5);
                doc.line(63, 162, 63 + textWidth, 162);
                doc.setFont("Times", "normal");

                doc.text(`This was issued on the ${certDateIssued} at Barangay`, 20, 170);
                doc.text(`Parang, Marikina City.`, 20, 176);
        
                // Signature
                doc.addImage('../public/images/footer-cert.png', 'PNG', 20, 200, 155, 75);
        
                // Open PDF in a new window
                doc.output('dataurlnewwindow');
            }
        </script>


    </body>
</html>